body {
    display: flex;
    background-color: rgb(223, 221, 221);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
.page > .heading > .line1{
margin-left: 100px;
margin-bottom:40px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(59, 59, 59)
}
.page > .heading > .line2{
    margin-left: 100px;
    margin-bottom:40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 59)
    }

.page > .heading > .line3{
font-weight: 200;
padding: 0%;
margin-left :100px;
font-family:Arial, Helvetica, sans-serif ;
color: rgb(103, 102, 102);
}



.form-top{ 
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 520;
    color: rgb(71, 69, 69);
    height:15vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
}
.icon-container {
    font-size: 31px;
    margin-right: 10px; /* Add suitable margin from the left for the icon */
    margin-left: 20px;
}

.text-container {
    margin-right: 20px; /* Add suitable margin from the left for the text */
    font-size: 17px;
}


.progress-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    width: 100%;
    background-color: #f3f3f3;
    
    /* Add other styles for your progress-container div if needed */
}

.progress-bar {
    width: 0;
    height: 7.5px;
    background-color: #f0760b;
    text-align: center;
    line-height: 10px;
    color: white;

}

.left-child,
.right-child {
    width: 50%;
    height: 100%;
    float: left; /* Use float or inline-block to position the children side by side */
    box-sizing: border-box;
    position: relative;
    margin-right: 27px;
    margin-left: 20px;
}

.left-child>button {
    position: absolute;
    bottom: 30%; /* Adjust the distance from the bottom */
    left: 10%; /* Adjust the distance from the left */
}

.right-child>button{
    position: absolute;
    bottom: 30%; /* Adjust the distance from the bottom */
    right: 15%; /* Adjust the distance from the left */
}
.left-child>.heading{
    position: absolute;
    top: 5%;
    left: 15%;
}

@media screen and (max-width: 900px) {
    .form-container{
        width:100vw !important;
    }
    .divide{
        position: relative;
    }
    .left-child, .right-child{
        position: absolute;
        width: 100%;
        left: 0%;
        top: 0%;
    }
    .right-child{
        height: 80%;
    }
    .left-child>.heading{
        top: 0%;
        left: 0%;
        text-align: left;
    }
    .left-child>.heading>.line1{
        font-size: 20px;
    }
    .left-child>.heading>.line3{
        font-size: 16px;
    }
    .right-child>.input{
        top: 30% !important;
        left: 0;
    }
    .left-child>button{
        left: 0% !important;
        bottom: 4% !important;
        width: 21vw !important;
    }
    .right-child>button{
        right: 10% !important;
        bottom: -20% !important;
        width: 15vw !important;
    }
    

}
.left-child>h4{
    
    position: absolute;
    top: 25%;
    left: 15%;
}
.right-child>.input{
    position: absolute;
    top: 8%;
    right: 18%;
}

.right-child>button {
    text-align: center;
    font-weight:600;
    font-size: medium;
    height:7vh;
    width:8vw;
    border-radius: 7px ;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f65427;
    color: white;
    transition:0.2s;
    border: none;
    cursor: pointer;
}

 .right-child>button:hover {
    color: #f17910;
    background: var(--clr);
    letter-spacing: 0.01em;
    box-shadow: 0 0 8px ;
}
.left-child>button {
    text-align: center;
    font-weight:600;
    font-size: medium;
    height:7vh;
    width:8vw;
    border-radius: 7px ;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: lightgrey;
    transition:0.2s;
    border: none;
    cursor: pointer;
}

 .left-child>button:hover {
    color: #f17910;
    background: var(--clr);
    letter-spacing: 0.01em;
    box-shadow: 0 0 8px ;
}
 
.input{
display: flex;
flex-direction: column;

}

.House-input {
    
    width: 100%;
    height:11vh;
    padding:10px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:18px;
    
}


.House-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}


.rental-input{
    width: 100%;
    height:11vh;
    padding:10px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:18px;
}

.rental-input:hover{

    background-color: rgba(225, 114, 23, 0.077);
}

.room-input{
    width: 65%;
    height:9vh;
    padding:8px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:14px;
}

.room-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}

.year-input{
    width: 65%;
    height:9vh;
    padding:8px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:14px;

}

.year-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}

.gender-input{
    width: 65%;
    height:9vh;
    padding:8px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:14px;
}

.gender-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}
 
.occupant-input{
    width: 65%;
    height:9vh;
    padding:8px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:14px;
}

.occupant-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}

.time-input{
    width: 65%;
    height:9vh;
    padding:8px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1.1em;
    color:#292929e1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    margin-bottom:14px;
}

.time-input:hover{
    background-color: rgba(225, 114, 23, 0.077);
}


.textbox{
  font-size: medium;
  width: 20vw;
}

.dropdown{
    
    position: sticky;
    top:0;
    bottom:90px;
    height:100px;
    width: 300px;

}
.dropdown::before{
 content: '';
 position:absolute;
 width:7px;
 height: 7px;
 border: 2px solid black;
 right:10px;
 top:20px;
 z-index:10000;
 border-top:2px solid #ffffff;
 border-right:2px solid #fff;
 transform: rotate(-45deg);
 transition:0.5s;
 pointer-events: rgb(255, 102, 0);

}

.dropdown.active::before{
    top:22px;
    transform:rotate(-225deg);
}


.dropdown input{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
    border-radius: 5px;
    padding: 4px 10px;
    outline-color:  #f65427;
    box-shadow:0 5px 20px rgba(184, 181, 181, 0.11);

}

.options.active{

    display: block;
}

.options{
  position: absolute;
  top:70px;
  width:100%;
  background:rgb(255, 255, 255);
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.913);
  border-radius: 5px;
  overflow:hidden;

}

.dropdown .options div{

    padding: 12px 12px;
    cursor:pointer;
    font-size:1em;
}

.show{
    display:none;
}

.dropdown .options div:hover{
    background: rgb(215, 213, 213);    
}


.form-container {
    background-color: white;
    width: 68vw;
    height: 100vh;
}


.container-input{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:right;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
    gap:30px;
}

.inputbox{ 
    position:relative;
    width:250px;
    

}

.inputbox input{
    width: 100%;
    height:7vh;
    padding:10px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1em;
}

.inputbox span{
    position: absolute;
    left:0;
    padding:10px;
    pointer-events: none;
    font-size: 1em;
    color:rgba(66, 64, 64, 0.852);
    text-transform: none;
    transition: 0.5s;
}


.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
color:#3c3b3be1;
transform: translateX(10px) translateY(-7px);
font-size: 1em;
padding:0 10px;
background-color: white;
border-left: 1px solid #f35023;
border-right: 1px solid #f35023;
}


.divide{
    display:flex;
    height:100%
}


.page {
    height: 85vh;
    display: none;
}

.page.active {
    display: block;
}

.inputrqrmnt{
    width: 32%;
    height:8.5vh;
    padding:10px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1em;
    color:#3c3b3be1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    

}

.inputmoney{
    width: 32%;
    height:8.5vh;
    padding:10px;
    border: 2px solid rgba(57, 56, 56, 0.863);
    border-radius:5px;
    outline-color: #f65427;
    font-size: 1em;
    color:#3c3b3be1;
    transform: translateX(10px) translateY(-7px);
    box-sizing: border-box;
    
}
